# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/
x86/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe

# VS Code
.vscode/

# NuGet
packages/
*.nupkg

# Rider
.idea/

# Project-specific
prompt/

# OS
Thumbs.db
.DS_Store
nul
